<div class="container mt-5 px-5 d-flex flex-column align-items-center justify-content-center">
  <%= form_with model: @member,url: admin_member_path do |f| %>
    <div class="row mb-3 mt-5">
      <div class="col-md-4">名前</div>
      <div class="col-md-5"><%= f.text_field :name %></div>
    </div>
    <div class="row mb-3">
      <div class="col-md-4">自己紹介</div>
      <div class="col-md-5"><%= f.text_area :self_introduction %></div>
    </div>
    <div class="row mb-3">
      <div class="col-md-4">画像</div>
      <div class="col-md-5"><%= f.file_field :profile_image, accept: "image/*" %></div>
    </div>
    <div class="row mb-3">
      <div class="col-md-4">ステータス</div>
      <div class="col-md-5">
        <%= f.radio_button :is_active, :true, checked: true %><%= f.label :is_active_true,"会員" %>
        <%= f.radio_button :is_active, :false %>              <%= f.label :is_active_false,"非会員" %>
      </div>
    </div>
    <div class="row mb-3 justify-content-end">
      <div class="col-md-8"><%= f.submit "変更",class: "btn btn-sm btn-secondary" %></div>
    </div>
  <% end %>
  <div>
  </div>
</div>
