<div class="container mt-3">
<div class="row">
  <div class="col-md-7 search_form">
    <%= form_with url: admin_search_path, method: :get do |f| %>
      <%= f.text_field :word %>
      <%= f.select :range, options_for_select([['全て'],['男性'],['女性']]) %>
      <%= f.submit "検索", class: "btn btn-sm" %>
    <% end %>
  </div>
</div>
  <table class = "table mt-5">
    <thead>
      <tr>
        <th>
          name
        </th>
        <th>
          gender
        </th>
        <th>
          status
        </th>
      </tr>
    </thead>
    <tbody>
      <% @members.each do |member| %>
      <% if member.is_active == false %>
        <tr class = "text-info">
          <td>
            <%= link_to member.name,admin_member_path(member.id),class: "text-info" %>
          </td>
          <td>
            <%= member.gender_i18n %>
          </td>
          <td>
            <%= member.status_display %>
          </td>
        </tr>
      <% else %>
        <tr>
          <td>
            <%= link_to member.name,admin_member_path(member.id),class: "text-body" %>
          </td>
          <td>
            <%= member.gender_i18n %>
          </td>
          <td>
            <%= member.status_display %>
          </td>
        </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>