<div class ="container mt-3">
<h4><%= image_tag @partner.member.get_profile_image(50,50) %>　<%= @partner.member.name %></h4>

  <% if @chats.present? %>
    <% @chats.each do |chat| %>
    <!--投稿しているユーザーによってコメントの表示場所を変える-->
      <% if admin_signed_in? && (chat.member.id == @member.id) %>
        <div class="d-flex justify-content-end text-right mb-3 align-items-center">
          <div class="col-md-8 text-break px-0 my-auto">
            <%= simple_format(chat.message, {}, wrapper_tag: "div") %>
          </div>
          <%= link_to admin_chat_path(chat),method: :delete,class: "btn", data: {confirm: "メッセージを削除しますか？"} do %>
            <div class="col-md-1 px-0">
              <i class="far fa-trash-alt"></i>
            </div>
          <% end %>
        </div>
      <% elsif admin_signed_in? && (chat.member.id != @member.id) %>
        <div class="d-flex align-items-center">
          <div><%= image_tag @partner.member.get_profile_image(30,30) %><%= @partner.member.name %></div>
          <%= link_to admin_chat_path(chat),method: :delete,class: "btn", data: {confirm: "メッセージを削除しますか？"} do %>
              <i class="far fa-trash-alt"></i>
          <% end %>
        </div>
        <div class="d-flex mb-3">
          <div class="col-md-8 col-sm-8 text-break">
            <%= simple_format(chat.message) %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>