<div class ="container mt-3">
<h4><%= image_tag @partner.member.get_profile_image(50,50) %>　<%= @partner.member.name %></h4>

  <% if @chats.present? %>
    <% @chats.each do |chat| %>
    <!--投稿しているユーザーによってコメントの表示場所を変える-->
      <% if admin_signed_in? && (chat.member.id == @member.id) %>
        <div class="row d-flex justify-content-end text-right my-3">
          <div class="col-md-5">
            <%= simple_format(chat.message) %>
            <%= link_to admin_chat_path(chat),method: :delete,class: "btn", data: {confirm: "メッセージを削除しますか？"} do %>
            <i class="far fa-trash-alt"></i>
            <% end %>
            </div>
        </div>
      <% elsif admin_signed_in? && (chat.member.id != @member.id) %>
        <div class="row col-md-11 my-3">
          <div class="col-md-5">
            <div class="row">
              <div class="col-md-12"><%= image_tag @partner.member.get_profile_image(30,30) %><%= @partner.member.name %></div>
              <div class="col-md-12">
                  <%= simple_format(chat.message) %>
                  <%= link_to admin_chat_path(chat),method: :delete,class: "btn", data: {confirm: "メッセージを削除しますか？"} do %>
                    <i class="far fa-trash-alt"></i>
                  <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>