<div class = "container mt-2 pt-5 d-flex flex-column align-items-center justify-content-center">

  <!--エラー文-->
  <div id = "post_create_alret">
    <% if @post.errors.any? %>
    <%#= javascript_pack_tag 'posts/render' %>
      <%= @post.errors.count %>件のエラーが発生しました
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </div>


  <%= form_with model: @post,url: posts_path,method: :post do |f| %>
    <div class="row my-3">
      <div class="col-md-6 my-2 md-my-3 text-left text-md-right">タイトル</div>
      <div class="col-md-6 my-2 md-my-3"><%= f.text_field :title,:placeholder => "20文字まで" %></div>
    </div>
    <div class="row my-3">
      <div class="col-md-6 my-2 md-my-3 text-left text-md-right">本文</div>
      <div class="col-md-6 my-2 md-my-3"><%= f.text_area :body,:placeholder => "300文字まで" %></div>
    </div>
    <div class="row my-3">
      <div class="col-md-6 my-2 md-my-3 text-left text-md-right">カテゴリー選択</div>
      <div class="col-md-6 my-2 md-my-3">
        <%= f.collection_select :category_id, @categories, :id, :name %>
      </div>
    </div>
    <!--カテゴリーに対するジャンルが存在する場合のみ表示-->
    <div class="row my-3 d-none" id="genre_form">
      <div class=" col-md-6 my-2 md-my-3 text-left text-md-right">ジャンル選択</div>
      <div class="col-md-6 my-2 md-my-3 px-0">
        <select class="px-0 mx-3" name="post[genre_id]" id="post_genre_id"></select>
      </div>
    </div>
    <div class="row d-flex justify-content-end">
      <div class="col-md-6">
        <%= f.submit "投稿",class: "btn btn-sm btn-secondary" %>
      </div>
    </div>
  <% end %>
</div>


<script>
  $(document).ready(function() {
    // #post_category_idが変更されたら発動
    $('#post_category_id').change(function() {
      let category_id = $(this).val(); // 選択されている自分自身のvalueを取得する

      // 「選択してください」のときの表示/非表示
      // if (category_id === '') {
      //   let id = "genre_title"
      //   $('#genre_form').removeClass('d-block').addClass('d-none');
      //   return false; // ここで処理を止める
      // }

      // '/get_genres'にcategory_idのGETパラメーターを付与してデータを取得する
      $.ajax('/get_genres', {
        type: 'get', // メソッド
        data: { category_id: category_id }, // GETパラメーター
        dataType: 'json' // データの形式
      })
      .done(function(genres) { // 成功
        // もしgenresが無しの場合は、セレクトボックス非表示
        console.log(genres);
        // 一旦セレクトボックスをリセット
        $('#post_genre_id > option').remove();

        if (genres.length === 0) {
          $('#genre_form').removeClass('d-flex').addClass('d-none');
          return false; // ここで処理を止める
        }
        // class変更で表示/非表示
        $('#genre_form').removeClass('d-none').addClass('d-flex');

        genres.forEach(function(genre) { // ループ
          // 取得したセレクトボックスデータを追加していく
          $('#post_genre_id').append($('<option>').html(genre.name).val(genre.id));
        })
      })
      .fail(function() { // 失敗
        alert('取得に失敗しました。'); // アラートを出す
      })
    })
  })
</script>

<% if @post.errors.any? %>
  <%= javascript_pack_tag 'render' %>
<% end %>