<div class="container pb-2 border-bottom">
  <!--投稿内容-->
  <div class="d-flex align-items-center mt-2">
      <div class="col-md-1 px-0">
        <%= link_to member_path(@member.id) do %>
          <%= image_tag @member.get_profile_image(60,60) %>
        <% end %>
      </div>
    <div class="col-md-6">
      <%= link_to @member.name, member_path(@member.id),class: "text-body" %>
    </div>
    <!--いいねボタン-->
    <div class="col-md-5 text-right">
      <span class="p-1 empathy_count" >
        <%= render "member/empathies/empathy_link", post: @post, empathies: @empathies %>
      </span>
      <i class="fas fa-comment ml-3"></i><%= @comments.count %>
      戻る
    </div>
  </div>

  <div class="row">
    <div class="col-md text-break">
      <%= @post.title %>
    </div>
  </div>

  <div>
    <%= @post.category.name %> > <%= @post.genre.name %>
  </div>

  <div class="row">
    <div class="col-md text-break">
      <%= simple_format(@post.body) %>
    </div>
  </div>

  <div class="row">
    <div class="col-md text-right">
      <%= @post.closed_check %>
      <% if @post.member == current_member %>
        コメント停止
        <%= link_to "削除", post_path(@post.id), method: :delete,data: {confirm: "投稿を削除しますか？"} %>
      <% end %>
    </div>
  </div>
</div>
<!--コメント一覧-->
<div class="container", style="ppading-bottom:50px;">
  <% @comments.each do |comment| %>
    <div class="row mt-3 ml-5">

      <div class="col-md-9">
        <%= link_to member_path(@member.id ),class: "text-body" do %>
          <%= image_tag comment.member.get_profile_image(30,30) %>
          <%= comment.member.name %>
        <% end %>

        <% if comment.member_id == current_member.id %>
          <%= link_to post_comment_path(@post.id,comment.id),method: :delete,class: "btn", data: {confirm: "コメントを削除しますか？"} do %>
          <i class="far fa-trash-alt"></i>
          <% end %>
        <% end %>
      </div>

      <div class="col-md-9 text-break">
        <%= simple_format(comment.body) %>
      </div>

    </div>
  <% end %>
</div>

<div class="container form-design">
  <%= form_with model: @comment,url: post_comments_path(@post.id),method: :post do |f| %>
    <div class="row justify-content-center fixed-bottom">

      <div class="col-md-8 form-group ml-sm-0 ml-xs-0 pr-0">
        <%= flash[:create_alret] %>
        <%= f.text_area :body, class: "form-control" %>
      </div>

      <div class="d-flex col-md-1 align-items-center">
        <%= f.submit "送信",class: "btn btn-sm btn-outline-dark" %>
      </div>

    </div>
  <% end %>
</div>
