<span class = "chat-all">
  <div class ="container">
    <% if chats.present? %>
      <% chats.each do |chat| %>
          <% if chat.member.id == current_member.id %>
            <div class="my-2 shadow">
              <div class ="small m-1 text-left">
                <%= chat.created_at.strftime('%Y/%m/%d %H:%M') %>
                <%= link_to room_chat_path(room.id,chat.id),method: :delete, remote:true, class: "btn", data: {confirm: "メッセージを削除しますか？"} do %>
                  <i class="far fa-trash-alt text-right"></i>
                <% end %>
              </div>
              <div class="col-md-12 com-sm-12 text-break text-right pb-1"><%= simple_format(chat.message) %></div>
            </div>
          <% else %>
            <div class="my-2 py-2 shadow">
              <div class ="small mx-1 text-right"><%= chat.created_at.strftime('%Y/%m/%d %H:%M') %></div>
              <div class="col-md-12"><%= image_tag chat.member.get_profile_image(30,30) %>　<%= chat.member.name %></div>
              <div class="col-md-12 com-sm-12 text-break"><%= simple_format(chat.message) %></div>
            </div>
          <% end %>

      <% end %>
    <% end %>
  </div>


</span>