<div class ="container mt-3">

  <div class="row my-3">
    <%= link_to :back do %>
     <i class="fas fa-arrow-left text-info h5"></i>
    <% end %>
  </div>

  <%= link_to member_path(@partner.id), class: "text-body text-decoration-none" do %>
    <h4><%= image_tag @partner.member.get_profile_image(50,50) %>　<%= @partner.member.name %></h4>
  <% end %>

  <% if @chats.present? %>
    <% @chats.each do |chat| %>

      <% if chat.member.id == current_member.id %>
        <div class="d-flex flex-nowrap align-items-center justify-content-end text-right mb-3 shadow">
          <div class="col-md-11 col-sm-11 px-0 text-break">
            <%= simple_format(chat.message, {}, wrapper_tag: "div") %>
          </div>
          <%= link_to room_chat_path(@room.id,chat.id),method: :delete,class: "btn", data: {confirm: "メッセージを削除しますか？"} do %>
            <div class="col-md-1 col-sm-1 px-0">
              <i class="far fa-trash-alt"></i>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="my-2 shadow">
          <div class="col-md-12"><%= image_tag chat.member.get_profile_image(30,30) %>　<%= chat.member.name %></div>
          <div class="col-md-12 com-sm-12 text-break"><%= simple_format(chat.message) %></div>
        </div>
      <% end %>

    <% end %>
  <% end %>
</div>

<div class="container form-design">
  <%= form_with model: @chat,url:room_chats_path(@room.id) do |f| %>
    <div class="row justify-content-center fixed-bottom">
      <div class="col-md-8 form-group ml-sm-0 ml-xs-0 pr-0">
        <%= flash[:create_alret] %>
        <%= f.text_area :message, class: "form-control" %>
        <%= f.hidden_field :room_id, value: @room.id %>
      </div>
      <div class="d-flex col-md-1 align-items-center">
        <%= f.submit "送信",class: "btn btn-sm btn-secondary" %>
      </div>
    </div>
  <% end %>
</div>