<h3>カテゴリー一覧</h3>

<%= form_with model: @category, url: admin_categories_path do |f| %>
  <%= f.text_field :name %>
  <%= f.submit "追加" %>
<% end %>

<% @categories.each do |category| %>
  <table>
    <tr>
      <td>
      <%= category.name %>
      </td>
      <td>
        <%= link_to "編集", edit_admin_category_path(category.id) %>
      </td>
      <td>
        <%= link_to "削除", admin_category_path(category.id),method: :delete %>
      </td>
      <td>
        <%#= link_to "ジャンル追加", %>
      </td>
    </tr>
  </table>
<% end %>