<div class="container mt-3">
<h4><%= @category.name %></h4>

  <%= flash[:create_alret] %>
  <div class="my-3">
    <%= form_with model: [:admin, @category, @genre] do |f| %>
      <%= f.text_field :name %>
      <%= f.submit "追加" %>
    <% end %>
  </div>

  <% @genres.each do |genre| %>
    <table class="table table-sm my-auto">
      <tbody>
        <tr>
          <td width="60">
          <%= genre.name %>
          </td>
          <td width="20">
            <%= link_to "編集", edit_admin_category_genre_path(@category,genre.id) %>
          </td>
          <td width="20">
            <%= link_to "削除", admin_category_genre_path(@category,genre.id), method: :delete, data: {confirm: "ジャンルを削除するとジャンルに登録されている投稿全てが削除されます。本当に削除しますか？"} %>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>