<% members.each do |member| %>
  <div class="row my-2">
    <%= link_to member_path(member.id) do %>
      <div class="col-md-1 col-sm-1">
        <%= image_tag member.get_profile_image(50,50) %>
      </div>
    <% end %>
    <%= link_to member_path(member.id) do %>
      <div class="d-lex flex-column col-md-6 col-sm-5">
        <div class="col"><%= member.name %></div>
        <div class="col text-break"><%= member.self_introduction %></div>
      </div>
    <% end %>
    <div class="col-md-5 ml-auto text-right col-sm-5">
      <% unless member == current_member %>
        <% if current_member.following?(member) %>
          <%= link_to "フォローをやめる",relationships_path(member_id: member.id), method: :delete %>
        <% else %>
          <%= link_to "フォローする",relationships_path(member_id: member.id), method: :post %>
        <% end %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>