<div class="container">

  <% members.each do |member| %>
    <div class="row d-flex flex-wrap ml-5 my-4 py-1 col-11 shadow">
      <%= link_to member_path(member.id),class: "col-md-2 text-body text-decoration-none" do %>
        <%= image_tag member.get_profile_image(50,50) %>
      <% end %>

      <%= link_to member_path(member.id),class: "col-6 text-body text-decoration-none" do %>
        <div><%= member.name %></div>
        <% if member.self_introduction %>
          <div><%= member.self_introduction.truncate(30) %></div>
        <% end %>
      <% end %>

      <div class="col-md-2 md-ml-5 small">
        <% unless member == current_member %>
          <% if current_member.following?(member) %>
            <%= link_to "フォローをやめる",relationships_path(member_id: member.id), method: :delete,class: "text-body text-decoration-none" %>
          <% else %>
            <%= link_to "フォローする",    relationships_path(member_id: member.id), method: :post,  class: "text-body text-decoration-none" %>
          <% end %>
        <% end %>
      </div>

    </div>
  <% end %>
</div>