<div class="member-edit">
  <div class="container h-100 d-flex flex-column align-items-center justify-content-center">
    <%= form_with model: @member do |f| %>
      <div class="row mb-3">
        <div class="col-md-3">名前</div>
        <div class="col-md-3"><%= f.text_field :name, class: 'form-control' %></div>
      </div>
      <div class="row mb-3">
        <div class="col-md-3">自己紹介</div>
        <div class="col-md-3"><%= f.text_area :self_introduction %></div>
      </div>
      <div class="row v">
        <div class="col-md-3">画像</div>
        <div class="col-md-3"><%= f.file_field :profile_image, accept: "image/*" %></div>
      </div>
      <div class="row mb-3">
        <div class="col-md-3"><%= f.submit "変更" %></div>
      </div>
    <% end %>
    <div>
      <%= link_to "退会する", unsubscribe_path(@member.id), class: "ml-auto" %>
    </div>
  </div>
</div>