<div class="container py-2 border-bottom">
  <div class="d-flex">

    <div class="text-center small px-0">
      <%= link_to member_followings_path(@member.id),class: "text-body mx-3", style: "display:block;" do %>
        <div><%= @following_members.count %></div>
        <div>フォロワー</div>
      <% end %>
    </div>
    <div class="text-center small px-0">
      <%= link_to member_followers_path(@member.id) ,class: "text-body mx-3",  style: "display:block;" do %>
        <div><%= @follower_members.count %></div>
        <div>フォロー</div>
      <% end %>
    </div>

    <div class="ml-auto d-flex align-items-center">
      <!--本人のみプロフィール編集とDM一覧表示-->
      <% if @member == current_member %>
        <%= link_to notifications_index_path do %>
          <% if unchecked_notifications.any? %>
            <i class="fas fa-bell text-warning mr-3 my-1 h4 "></i>
          <% else %>
            <i class="far fa-bell text-body mr-3 my-1 h4"></i>
          <% end %>
        <% end %>
        <%= link_to "編集",edit_member_path(@member.id), class: "border border-dark text-dark rounded-pill p-2 small text-decoration-none" %>

      <% else %>
        <% if current_member.following?(@member) %>
          <%= link_to "フォロー中",relationships_path(member_id: @member.id), method: :delete, class: "text-body mr-2" %>
        <% else %>
          <%= link_to "フォローする",    relationships_path(member_id: @member.id), method: :post,   class: "text-body mr-2" %>
        <% end %>
      <!--相互フォローのみDM可-->
        <% if current_member.following?(@member) && @member.following?(current_member) %>
          <!--DMの履歴があれば表示、なければ作成-->
          <% if @is_room == true %>
            <%= link_to room_path(@room_id) ,class: "text-body" do %>
              <i class="h5 fas fa-paper-plane mb-0 "></i>
            <% end %>
          <% else %>
            <%= form_with model: @is_room,url: rooms_path do |f| %>
              <%= fields_for @entry do |entry| %>
                <%= entry.hidden_field :member_id, value: @member.id %>
                <%= f.button :type => "submit", class: 'dm-button' do %>
                  <i class="h5 fas fa-paper-plane mb-0 "></i>
                <% end %>
              <% end %>
            <% end %>
          <% end %>

        <% end %>

      <% end %>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-6 col-md-3">
      <%= image_tag @member.get_profile_image(100, 100) %>
    </div>
    <div class="col-sm-6 col-md-5 px-15 align-self-center">
        <div class="mb-3"><%= @member.name %></div>
        <div class=""><%= simple_format(@member.self_introduction) %></div>
    </div>
  </div>

</div>

<div class="container mt-3">
  <%= @posts.count %>投稿
  <%= link_to member_empathies_path(@member),class: "text-dark ml-2" do %>
    <i class="fas fa-lightbulb text-warning mr-1"></i>一覧へ
  <% end %>

  <% @posts.each do |post| %>
    <div class="bg-info my-2 change-button">
      <%= link_to post_path(post.id),class: "text-decoration-none" do %>
        <div class="d-flex justify-content-center text-white">
          <div class="col-md-6 text-break">
            <%= post.title %>
          </div>
          <div class="col-md-4 text-right">
            <%= post.created_at.strftime('%Y/%m/%d %H:%M') %>
          </div>
        </div>
        <div class="d-flex justify-content-center text-white">
          <div class="col-md-10 text-break">
            <%= post.body.truncate(30) %>
          </div>
        </div>
      <% end %>

      <div class="d-flex justify-content-center text-white">
        <div class="col-md-4">
          <span id="empathy_counts<%= post.id %>" >
            <!--いいね機能テンプレート-->
            <%= render "member/empathies/empathy_link", post: post %>
          </span>
          <i class="fas fa-comment text-white  ml-3"></i>
          <span class = "text-secondary">
            <%= post.comments.count %>
          </span>
        </div>
        <div class="col-md-6 text-right">
          <%= post.closed_check %>
        </div>
      </div>
    </div>
  <% end %>

</div>