<div class="row">
  <div class="col-md-3">
    <%= @following_members.count %>フォロー
    <%= @follower_members.count %>フォロワー

    投稿数
  </div>
  <div class="ml-auto col-md-2 ">
    <%= link_to "プロフィール編集",edit_member_path(@member.id) %>

    <% if @member == current_member %>
    メッセージ一覧
    <% else %>
      <% if current_member.following?(@member) %>
        <%= link_to "フォローをやめる",relationships_path(member_id: @member.id), method: :delete %>
      <% else %>
        <%= link_to "フォローする",relationships_path(member_id: @member.id), method: :post %>
      <% end %>
    <% end %>
  </div>
</div>
<div class="container pb-5 border-bottom">
  <div class="row">
    <div class="col-md-3">
      <%= image_tag @member.get_profile_image(100, 100) %>
    </div>
    <div class="col-md-5 align-self-center">
      <div class="row mb-3"><%= @member.name %></div>
      <div class="row"><%= @member.self_introduction %></div>
    </div>
  </div>
</div>