<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="/">
    <%= image_tag "logo.png", class: "logo-image", width: "150", height: "auto" %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <% if member_signed_in? %>
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <%= link_to member_path(current_member.id),class: "text-decoration-none" do %>
            <i class="fas fa-door-open text-white mr-1"></i><span class = "mr-3 text-white">My page</span>
          <% end %>
        </li>

        <li class="nav-item">
          <%= link_to categories_path,class: "text-decoration-none" do %>
            <i class="fas fa-comments text-white mr-1"></i><span class = "mr-3 text-white">Community</span>
          <% end %>
        </li>

        <li class="nav-item">
          <%= link_to new_post_path,class: "text-decoration-none" do %>
            <i class="fas fa-edit text-white mr-1"></i><span class = "mr-3 text-white">Post</span>
          <% end %>
        </li>

        <li class="nav-item">
          <%= link_to rooms_path , class: "text-decoration-none" do %>
            <i class="fas fa-paper-plane text-white mr-1"></i><span class = "mr-3 text-white">Message</span>
          <% end %>
        </li>

        <li class="nav-item">
          <%= link_to destroy_member_session_path, method: :delete,class: "text-decoration-none" do %>
            <i class="fas fa-door-open text-white mr-1"></i><span class = "mr-3 text-white">Log out</span>
          <% end %>
        </li>
      </ul>
    <% else %>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to new_member_session_path,class: "text-decoration-none" do %>
            <i class="fas fa-door-open text-white mr-1"></i><span class = "mr-3 text-white">Log in</span>
          <% end %>
        </li>

        <li class="nav-item">
          <%= link_to new_member_registration_path,class: "text-decoration-none" do %>
            <i class="fas fa-user-plus text-white mr-1"></i></i><span class = "mr-3 text-white">Sign up</span>
          <% end %>
        </li>
      </ul>
    <% end %>
  </div>
</nav>